{% load static %}
{% load compress bootstrap3 %}
<!DOCTYPE html>
<!--
<html>
<head><title>博丞</title></head>
<body>博丞</body>
</html>
-->
<!--[if lt IE 9]><script type="text/javascript">var tip = '建议升级你的浏览器（如 Chrome, Firefox）以获得更好的体验！',
    url = 'http://browsehappy.com';
document.execCommand('stop');
alert(tip);
window.location.href = url;</script><![endif]-->

<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>
    {% include "base/snippets/meta.html" %}
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico?v=5">
<title>
    {% block title %}
        Bit03 - 数字货币与区块链技术导航
    {% endblock %}
</title>

{% bootstrap_css %}

{% block base_css %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/web/bootstrap/css/bootstrap.min.css' %}">#}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/web/main.css' %}">
    {% endcompress %}
{% endblock %}

{% block user_css %}
{% endblock %}

{% block browser_compat %}
{#   put browser compat code here     #}
{% endblock %}
</head>

<body class="">
{#   seo header here#}
<div class="seo-only">
<h1>
    {% block seo_title %}
        Bit03 - 数字货币与区块链技术导航
    {% endblock %}
</h1>
</div>
{#    seo header end------------ #}

{# header ----------- #}
{% block header %}
    {% include 'web/partial/header.html' %}
{% endblock %}


{# content #}
{% block content %}
<section id="content">
</section>
{% endblock %}
{# content ends ------------#}

{# footer -------#}
{% block footer %}
{% include 'web/partial/footer.html' %}
{% endblock %}
{# footer ends --------#}
{% block basic_script %}
    <script data-main="{{ global_static_url_prefix }}js/web/jsbuild/index_page_app_build.js" src="{{ global_static_url_prefix }}js/web/app/require.js"></script>
{% endblock %}
</body>
</html>
