{% load static i18n %}
{% load compress bootstrap3 %}
<!DOCTYPE html>


<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>

    {% block meta %}{% include "base/snippets/meta.html" %}{% endblock %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icon_57.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icon_72.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icon_114.png' %}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icon_144.png' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <title>
        {% block title %}{% trans '区块链导航' %} - {% trans '从这里学习区块链' %}{% endblock %}
    </title>

    {% bootstrap_css %}

    {% block base_css %}
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/web/main.css' %}">
        {% endcompress %}
    {% endblock %}

    {% block user_css %}
    {% endblock %}

    {% block browser_compat %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}


    <script>
        var _hmt = _hmt || [];
    </script>

</head>

<body class="{% block body_class %} {% endblock %}">

{# header ----------- #}
{% block header %}
    {% include 'web/partial/header.html' %}
{% endblock %}

{% block search_row %}
    {% include 'web/partial/search_row.html' %}
{% endblock %}

{# content #}
{% block content %}
    <section id="content">
    </section>
{% endblock %}
{# content ends ------------#}

{# footer -------#}
{% block footer %}
    {% include 'web/partial/footer.html' %}
{% endblock %}
{# footer ends --------#}
{% block basic_script %}{% endblock %}

{% block trackers %}
    {# 这里是统计代码 #}
    {% if not debug %}
        {#        {% compress js %}#}
        <script async src="{% static 'js/web/app/libs/autotrack.js' %}"></script>
        {#        {% endcompress %}#}

        <script>
            window.ga = window.ga || function () {
                (ga.q = ga.q || []).push(arguments)
            };
            ga.l = +new Date;
            ga('create', 'UA-105874577-1', 'auto');

            // Replace the following lines with the plugins you want to use.
            ga('require', 'outboundLinkTracker');
            // ...

            ga('send', 'pageview');
        </script>
        <script async src="https://www.google-analytics.com/analytics.js"></script>

        <script>
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?4f7c3b36ed0491f90852e05efd64e62f";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>

       {% include 'web/partial/facebook.html' %}

    {% endif %}


{% endblock %}
</body>
</html>

