{% load static i18n %}
{% load compress bootstrap3 %}
<!DOCTYPE html>




<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>

    {% include "base/snippets/meta.html" %}
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico?v=5">
    <title>
    {% block title %}
        {% trans '区块链导航' %} - {% trans '从这里学习区块链' %}
    {% endblock %}
    </title>
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico?v=5">

{% bootstrap_css %}

{% block base_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/web/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/web/main.css' %}">
    {% endcompress %}
{% endblock %}

    {% block user_css %}
    {% endblock %}

    {% block browser_compat %}
        {#   put browser compat code here  #}
    {% endblock %}

 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
 <![endif]-->

<script>
var _hmt = _hmt || [];
</script>

</head>

<body class="">
{#   seo header here#}
<div class="seo-only">
    <h1>
        {% block seo_title %}
            {% trans '区块链导航' %} - {% trans '从这里学习区块链' %}
        {% endblock %}
    </h1>
</div>
{#    seo header end------------ #}

{# header ----------- #}
{% block header %}
    {% include 'web/partial/header.html' %}
{% endblock %}


{# content #}
{% block content %}
    <section id="content">
    </section>
{% endblock %}
{# content ends ------------#}

{# footer -------#}
{% block footer %}
    {% include 'web/partial/footer.html' %}
{% endblock %}
{# footer ends --------#}
{% block basic_script %}
    {% compress js %}
{#       <script data-main="{% static 'js/web/jsbuild/index_page_app_build.js' %}" src="{% static 'js/web/app/require.js' %}"></script>#}
    {% endcompress %}
{% endblock %}

{% block trackers %}
    {# 这里是统计代码 #}
    <script>


    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-105874577-1', 'auto');

    // Replace the following lines with the plugins you want to use.
    ga('require', 'outboundLinkTracker');
    // ...

    ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    {% compress js %}
    <script async src="{% static 'js/web/app/libs/autotrack.js' %}"></script>
    {% endcompress %}
    <script>
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?4f7c3b36ed0491f90852e05efd64e62f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
{% endblock %}
</body>
</html>
