@import "../csslib/var.less";

.clockdiv {
  font-family: DIN, "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif;
  color: @common-text-color;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 16px;
  padding: 20px 0px;
}

.clockdiv > div {
  margin-right: 10px;
  border-radius: 2px;
  background: none;
  display: inline-block;
}

.clockdiv div > span {
  font-size: 26px;
  border-radius: 0px;
  font-weight: 600;
  color: @common-text-color;
  &.smalltext {

  padding:0 0 0 0;
  font-size:14px;

  }
}

.count-down-info {
  margin-bottom:20px;
  .info {
    color: @support-text-color;

    span {
      color: @common-text-color;
      .block-count{
        color:@site-link-color;
      }

    }
  }
}


