//font colors
@common-text-color: #434446;
@link-color:#434446;
@support-text-color: #aaa;

@raising-color: #009632;
@falling-color: #f23333;

@site-link-color:#0E8ED8;
@site-link-highlight-color:#ff552e;

@lighten-site-link-color:#b8e0ff;
//table colors

@common-border-color:#f3f3f3;

//button colors
@link-underline-color: #b42e31;
@link-hover-color:#a3a3a3;



//background colors
@default-background:rgb(255,255,255);
@default-content-background:rgb(248, 248, 248);


//font size
@font-size-normal: 14px;
@font-size-small: 12px;
@font-size-mini: 11px;
@font-size-big: 30px;

@h1-size: 32px;
@h2-size: 22px;
@h3-size: 16px;


@base-line-height:1.5em;

//grid var

@gutter-size:10px;

@box-bg-color:#fff;
@box-header-border-color:@common-border-color;
@box-header-font-color:#ff552e;

