@import "../csslib/mixin.less";
@import "../csslib/var.less";

.seo-only {
  display: none;
}

.v-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.clearfix {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

.img-box {
  display: block;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  text-align: center;
  border: none;
  display: block;
  a {
    display: block;
    position: relative;

    img {
      background-color: #f6f6f6;
      max-height: 100%;
      max-width: 100%;
      //margin-left:auto;
      //margin-right:auto;
    }
  }
}

// for panel

.panel {
  border-bottom: 8px solid #f8f8f8;
  padding: 0 0 12px 20px;
}

.pricing-ele {
  color: @common-text-color;
  &.fall {
    color: @falling-color;
  }
  &.raise {
    color: @raising-color
  }
}



.common-link{

 color: @site-link-color;
           line-height:2em;
           &:hover, &:active, &:focus{
             color:@site-link-highlight-color;
             text-decoration: none;
           }
}

.site-link-style {
  color: @support-text-color;
  text-decoration: none;
}

.middle-wrapper {
  text-align: center;
}

.white-btn {
  color: @site-link-color;
  background-color: #fff;
  border-color: @site-link-color;
  &:hover, &:focus, &:active {
    color: @site-link-highlight-color;
    background-color: #fff;
    border-color: @site-link-highlight-color;
    .box-shadow(none);
  }
}

.tag-list-wrapper {
  float: right;
  .tag-list {
    .clearfix;
    li {
      display: inline-block;
    }
    .tag-list-head {
      margin-right: 5px;
    }
    .tag-item {
      margin: 0 0 0 0;
      color: @support-text-color;
      line-height: 1.5em;
      font-weight: 400;
      &::after {
        content: '·';
        margin-left:3px;
      }
      &:last-child {
        margin: 0 0;
        &::after {
          content: '';
        }
      }
    }

  }
}

.tag-list-filter-wrapper{
   text-align: left;
   margin: 20px 0px;
   .tag-list-filter-list{
      .clearfix;
      .tag-filter-item{
         margin: 0 0.5em;
         display: inline-block;
         a{
            .common-link;
         }
      }
   }
}

.project-wrapper{
   .transition(all 1s);
   &:hover{
     background-color: @lighten-site-link-color!important;
     .tag-list-head, .tag-item, .tag-list-head{
       color:@common-text-color!important;
     }
   }
  text-align: center;
  .p-title{
     font-size: 1.5em;
     line-height: 3em;

  }
  .p-founder{
     font-weight:600;
  }
  .p-bio{
     height: 3em;
     max-height: 3em;
  }
  .p-social-wrapper{
     .clearfix;
     li{
        display: inline-block;
        margin-right:3px;
        font-size:1.2em;
     }
  }

  .p-tags-wrapper{
     .clearfix;
     li{
        display: inline-block;

     }
  }

  .tag-list-wrapper{
     line-height: 1.5em;
     height: 3em;
     overflow: hidden;
     float:none;
     .tag-list-head{
       color:@support-text-color;
     }
    .tag-item{
      margin-right:3px;
    }
  }

  .p-status-wrapper{
      .clearfix;
      .status{
        float:left;
        display: inline-block;
      }
      .last-update{
        float:right;
        color:@support-text-color;
      }
  }
}

.inv-element{
  opacity: 0;

  //.transition(all 1s);
}

.static-box{
   top: 42px;
   position: fixed;
   opacity: 1;
   diplay: block;
}

.box-body.tag-cloud{
  padding: 0 0 20px;
  .tag-cloud-wrapper{
    height: 350px;

  }
}

.category-tag-wrapper{
    .tag-name{
       font-weight: 600;
       color: @common-text-color;
       margin: 10px 0px;
    }
    .nav-list-item{
       padding:6px 0px;
        span{
          margin: 0 1em 0  0 ;
        }
       .nav-name>a{
         .common-link;
         &.highlight{
           color:@site-link-highlight-color;
         }

       }
       .nav-ename{

       }
       .nav-location{

       }
       .nav-desc{
          color: @support-text-color;
       }

    }
}

.flink-container{
  text-align:left;
  .flink-wrapper{
    margin: 30px 0px 10px 0px ;
    .clearfix;
    li{
       display: inline-block;
       margin-right:1em;
       &.flink-head{
          color:rgba(255,255,255,0.4)
       }
       a{
          .nav-common-link;


       }
    }
  }
}

.silent_input{
    &:focus, &:hover, &:active{
      outline: 0;
      outline-offset: 0;
    }
}

.nav-common-link{
   color: rgba(255,255,255,0.3);
   .transition(all 1s);
   &:hover, &:active, &:focus{
       color: rgba(255,255,255,1);
       text-decoration: none;
       background-color: @nav_background;
    }
}

.search-header{
   color: @common-text-color!important;
   .query-word{
      color: @site-link-highlight-color!important;
   }
}



.main-search{

}