{% extends 'base/error_base.html' %}
{% load i18n static compress %}

{% block content %}
    <section id="content">
        <div class="container static-content error-content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="middle-wrapper ">
                        <h2><i class="fa fa-frown-o fa-4x"></i><br><br> Oops!</h2>
                        <h3>
                        找不到页面<br>
                        Page Not Found!<br>
                        </h3>
                        <div> <a href="/">返回首页</a></div>
                        <hr>
                        <div>
                            「Buy on the rumor, sell on the news.」 <BR>
                            「有谣言买入，有新闻卖出。」<br>
                            Wall Street Proverb
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
     {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}