{% extends 'base/error_base.html' %}
{% load i18n static compress %}

{% block content %}
    <section id="content">
        <div class="container static-content error-content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="middle-wrapper ">
                        <h2><i class="fa fa-wrench fa-4x"></i><br><br> Oops!</h2>
                        <h3>
                        内部服务器错误<br>
                        Internal Server Error!<br>
                        </h3>
                        <div> <a href="/">返回首页</a></div>
                        <hr>
                        <div>
                            「In Cryptography We Trust.」 <BR>
                            「坚信密码学。」<br>
                            Bitcoin
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
     {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}