{% extends 'web/base.html' %}
{% load i18n static %}
{% block title %}果库{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 60px">
                <p class="text-center"><i class="fa fa-wrench" style="font-size: 60px; color: #fff; background-color: #e6e6e6; padding: 32px;border-radius: 66px"></i></p>
            </div>
            <div class="col-sm-12">
                <p class="text-center" style="font-size: 32px; color: #414243; margin-top: 70px;">服务器开小差了，稍后回来</p>
            </div>
            <br />
            <div class="col-sm-12" style="font-size: 16px; color: #9D9E9F;">
                <p class="text-center">The Master said: “The Way is not practiced. I shall go ride a raft on the ocean</p>
                <p class="text-center">— and I imagine You would go with me.” </p>
            </div>
            <br />
            <div class="col-sm-12" style="font-size: 16px; color: #9D9E9F;">
                <p class="text-center">子曰：“道不行，乘桴浮于海。从我者，其由与？”</p>
                <p class="text-center">-- 《论语·公冶长》</p>
            </div>
            <br /><br />
            <div class="col-sm-12">
                <p class="text-center" style="font-size: 16px;margin-top:40px">返回 <a href="{% url 'web_selection' %}" style="color: #427ec0">首页</a>，或报告问题到 hi@guoku.com</p>
            </div>
        </div>
    </div>
{% endblock %}