{% extends 'base/base.html' %}
{% load i18n static compress %}

{% block content %}
    <section id="content">
        <div class="container static-content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <h2>關于我們</h2>
                    <p>
                       區塊鏈導航 Block123.com 第一站，創建于 2017 年 9 月，是中國前沿的區塊鏈上網導航站點，亦是不斷增長的區塊鏈技術愛好者、區塊鏈資産擁趸、用戶上網的好幫手、中文上網導航的領先品牌。
                    </p>

                    <H2>了解區塊鏈，從這裏開始！</H2>
                    <p>
                        Block123 專注于區塊鏈以及區塊鏈資産、技術、金融科技 FinTech 等領域，始終致力于爲用戶提供簡單、實用、貼心的導航服務。通過 Block123 更容易深入了解區塊鏈資産，如比特幣、以太坊、萊特幣，乃至其他頗有潛力的區塊鏈項目，使數字理財上網更輕松、行業資訊內容更精彩，是我們每一個 Block123.com 同仁努力的目標。
                    </p>
                    <h2> Block123.com 區塊鏈導航</h2>
                    <p>作爲數字貨幣上網導航領先品牌，免不了被部分網站所模仿，爲了保證你的上網安全，請牢記我們的網址 <a href="http://www.block123.com">www.Block123.com</a></p>
                    <p>如果你與我們一樣喜歡 Block123，請把它也分享給你的朋友吧！:)</p>
                    <h2> 捐贈地址</h2>
                    <h4>比特幣 BTC </h4>
                    <p>127X8Pzvmf9eUJVVV8ZFXMn6DKeQmWLy3y</p>
                    <h4>以太坊 ETH</h4>
                    <p>0x0EFE3c5924d0b73c9B61D427065461795d3090Ec</p>
                    <p><br></p>


                    <p>商務合作 bd@blocks.tech </p>
                    <br><br>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
     {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}