{% extends 'base/base.html' %}
{% load i18n static compress %}
{% load web_extras %}

{% block meta %}
    {% include "web/partial/fork_meta.html" %}
{% endblock %}
{% block title %}{% trans 'BTC 分叉倒计时' %} - {% trans '区块链导航' %}{% endblock %}

 {% block seo_title %}
    BTC 硬分叉 倒计时
 {% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 news-line-wrapper" id="btc-countdown">
                </div>
                {% include 'web/partial/side_bar.html' %}
            </div>
        </div>
    </section>

     <a class="gotop-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
    </a>


    <script type="text/template" id="btc-countdown-tpl">
        <% for(var i = 0; i < fork_list.length; i++){ %>
            <div class="box">
                <div class="box-header"><%= fork_list[i].name %>分叉倒计时</div>
                <div class="box-body">
                    <span class="clockdiv">
                        <div><span class="days "></span><span class="middletext">天</span></div>
                        <div><span class="hours "></span><span class="middletext">时</span></div>
                        <div><span class="minutes "></span><span class="middletext">分</span></div>
                        <div><span class="seconds "></span><span class="middletext">秒</span></div>
                    </span>
                    <div class="count-down-info">
                        <div class="info">
                            {% trans '这是基于当前块高度的时间预估' %}，{% trans '平均出块时间为十分钟' %}。<br><br>
                            <span>
                                {% trans '分叉区块高度' %}
                                <span class="block-count"><%= fork_list[i].height %></span><br>
                                {% trans '目前区块高度' %}
                                <span class="current_block_count block-count"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </script>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
        <script>
                    var fork_list =[
               {
                    'name': '超级比特币',
                    'ename': 'Bitcoin Platinum',
                    'height':498888
                },
                {
                    'name': '比特幣王者',
                    'ename': 'BTC King ',
                    'height':499999
                },
                {
                    'name': '比特幣上帝',
                    'ename': 'Bitcoin God ',
                    'height': 501225
                },

            ];

            var compiled = _.template($('#btc-countdown-tpl').html());
            var html = compiled(fork_list);
            $('#btc-countdown').html(html);
            var interval = 600;
            getBlockHeight(initClock);

            function getBlockHeight(callback){
                $.ajax({
                    url: 'https://blockchain.info/q/getblockcount',
                    success: callback
                });
            }
            function initClock(result){
                var current_block = parseInt(result);
                var deadline = [];
                for(var i = 0; i < fork_list.length; i++){
                    var targetblock = fork_list[i]['height'];
                    deadline.push(new Date(Date.parse(new Date())
                        + getSecondsRemaining(current_block, targetblock, interval)));
                }
                renderClock('clockdiv', deadline, current_block);
            }
            function getSecondsRemaining(blockheight, targetblock, interval) {
                var blocksremaining = targetblock - blockheight;
                var secondsremaining = blocksremaining * interval * 1000;
                return secondsremaining;
            }
            function getTimeRemaining(endtime) {
                var t = Date.parse(endtime) - Date.parse(new Date());
                var seconds = Math.floor((t / 1000) % 60);
                var minutes = Math.floor((t / 1000 / 60) % 60);
                var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                };
            }
            function renderClock(classname, endtime, blockheight) {
                // display block height;

                $('.current_block_count').each(function(index,ele){
                    $(ele).html(blockheight);
                });

                function do_update(){
                    var clocks = document.getElementsByClassName(classname);
                    for (var i=0, len=clocks.length ; i<len; i++) {
                        updateClock(clocks[i], endtime[i]);
                    }
                }


                function updateClock(clock, endtime) {

                    var daysSpan = clock.querySelector('.days');
                    var hoursSpan = clock.querySelector('.hours');
                    var minutesSpan = clock.querySelector('.minutes');
                    var secondsSpan = clock.querySelector('.seconds');

                    var t = getTimeRemaining(endtime);

                    if (t.total <= 0) {
                        clock.classList.remove(classname);
                        endtime.splice(i, 1);
                        daysSpan.innerHTML = '0';
                        hoursSpan.innerHTML = '00';
                        minutesSpan.innerHTML = '00';
                        secondsSpan.innerHTML = '00';
                        return ;
                    }

                    daysSpan.innerHTML = t.days;
                    hoursSpan.innerHTML = (t.hours);
                    minutesSpan.innerHTML = (t.minutes);
                    secondsSpan.innerHTML = (t.seconds);
                }

                do_update();
                var timeinterval = setInterval(do_update, 1000);
            }
        </script>
    {% endcompress %}
{% endblock %}