{% extends 'base/base.html' %}
{% load i18n static %}
{% load cache %}
{% load compress %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
{#                {% cache 7200 web_site %}#}
                    <div class="col-sm-8 col-xs-12" id="main_column">
                        <div class="box">
                            <div class="box-header">{% trans '热门推荐' %}</div>
                            <div class="box-body">
                                <ul class="site-list">
                                    {% for site in recommend %}
                                        {% with cate_cname='热门推荐' %}
                                            {% include 'web/partial/site_list_item.html' %}
                                        {% endwith %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="box-footer"></div>
                        </div>

                        {% for cate in categories %}
                            <div class="box">
                                <div class="box-header">
                                    <a href="{% url 'category_page' cate.category_ename %}" target="_blank"
                                       title="{{ cate.category_name }}">
                                        {{ cate.category_name }}
                                    </a>
                                </div>
                                <div class="box-body">

                                    {% for tag_list in cate.cate_tags %}
                                        {% with cate_ename=cate.category_ename cate_cname=cate.category_name %}
                                            <ul class="site-list">
                                                {% include 'web/partial/tag_list.html' %}
                                            </ul>
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                                <div class="box-footer"></div>
                            </div>
                        {% endfor %}
                    </div>
{#                {% endcache %}#}

                {% include 'web/partial/side_bar.html' %}
            </div>
        </div>
    </section>

    <a class="gotop-wrapper">
        <div class="action-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
        </div>
    </a>
{% endblock %}

{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}