{% extends 'base/base.html' %}
{% load i18n static compress %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="box">
                        <div class="box-header">热门推荐</div>
                        <div class="box-body">
                            <ul class="site-list">
                                {% for site in recommend %}
                                  <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            数字货币
                        </div>
                        <div class="box-body">
                            <ul class="site-list">
                                {% for site in coins %}
                                  <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                    <div class="inner-row row">
                        <div class="col-sm-6">
                            <div class="box box-half">
                                <div class="box-header">行业资讯</div>
                                <div class="box-body">
                                    <ul class="site-list">
                                         {% for site in sectorinfo %}
                                           <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                         {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box box-half">
                                <div class="box-header">交易平台</div>
                                <div class="box-body">
                                    <ul class="site-list">
                                        {% for site in exchanges %}
                                           <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                         {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="box box-half">
                                    <div class="box-header">数字钱包</div>
                                    <div class="box-body">
                                        <ul class="site-list">
                                            {% for site in purse %}
                                               <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                             {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                       </div>
                        <div class="col-sm-6">
                                <div class="box box-half">
                                    <div class="box-header">挖矿算力</div>
                                    <div class="box-body">
                                        <ul class="site-list">
                                            {% for site in minning %}
                                               <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                             {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="box box-half">
                                    <div class="box-header">挖矿算力</div>
                                    <div class="box-body">
                                        <ul class="site-list">
                                            {% for site in blockchain %}
                                               <li><a href="{{ site.web_site }}" target=_blank title="{{ site.main_name }}" rel="nofollow">{{ site.main_name }}</a></li>
                                             {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="box">
                        <div class="box-header">边栏交易所</div>
                        <div class="box-body">
                            <ul class="site-list">
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li><li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                                <li>btc-china</li>
                                <li>比特大陆</li>
                                <li>云币</li>
                                <li>比特币之家</li>
                                <li>蚂蚁矿机</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}