{% extends 'base/base.html' %}
{% load i18n static compress %}

{% block content %}
    <section id="content">
        <div class="container static-content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <h2>与区块链和我们一同成长</h2>

                    <p>当互联网凌驾于世，如果你不了解 WEB、HTTP，很晚才知道 WEIBO、没用过 WEIXIN、支付宝，不考虑买一台智能手机… 那么，
                        现在这个世界可能与你没什么关系。</p>
                    <p>
                        有没有想过十年以后，如果你现在还不了解比特币，更没打算去买，不懂得区块链技术… 那么，十年以后的世界可能也与你没什么关系了。
                    </p>
                    <p>
                        过去十年，互联网让信息交换变得更快；未来十年，区块链会让价值交换更快。<br>
                        我们正打算在这个世界从信息往价值交换转变的路上，做一些事情——让大众更容易地，学习和应用区块链。<br>
                    </p>
                    <p>
                        如果你对这个方向颇有兴趣，想在瞬息万变的时代不被淘汰，欢迎加入我们。
                    </p>
                    <p>
                        区块链导航 <a href="/">http://chaindh.com/</a> 这是我们用两周时间交出的作业。<br>
                        如果你突然觉得自己对大家都在谈论的事物无知，并正视了这份无知，想去改变的时候，用你的一些时间，一边用心学，一边用心做，今天总会不同于昨天。过程中，也许会看见未来的自己。
                    </p>

                    <h3>岗位一：主编/副主编/编辑</h3>
                    <p>
                        若干名，全职或实习生<br>
                        10-20k／北京 / 经验 2-5 年 / 本科及以上
                    </p>
                    <ol>
                        <li class="list-head">岗位职责：</li>
                        <li>跟踪影响数字货币、区块链市场的重大新闻，对相关影响进行解读；</li>
                        <li>跟踪数字货币、区块链市场即时热点，对突发机会进行解读；</li>
                        <li>能够及时挖掘和发现有价值的线索，并解读相关机会；</li>
                        <li>根据市场情况，独立策划选题，挖掘有价值的潜伏机会； 5、梳理和完善区块链项目跟踪的线索来源，进一步完善区块链项目相关内容。</li>
                    </ol>

                    <ol>
                        <li class="list-head">任职要求：</li>
                        <li>熟悉 FinTech 领域，对数字货币、区块链兴趣浓厚，有相关投资经历优先；</li>
                        <li>能够快速反应组织稿件，逻辑清晰；</li>
                        <li>有财经媒体从业经历，懂得新媒体内容传播规律者优先；</li>
                        <li>对资讯和信息敏感，且有浓厚的兴趣去挖掘市场资讯热点；</li>
                        <li>会熟练使用搜索工具等，搜寻相关素材和资料；</li>
                        <li>对各行业信息有广泛关注者优先。</li>
                    </ol>

                    <h3>岗位二：网站运营／BD</h3>
                        <p>若干名，全职或实习生<br>
                            5-10k / 北京 / 经验 1-3 年 / 本科及以上
                        </p>
                        <ol>
                            <li class="list-head">岗位职责：</li>
                            <li>明确执行商务市场计划，拓展、洽谈同领域的合作伙伴；</li>
                            <li>维护伙伴关系，以共赢为目标，整合资源，追加商务诉求；</li>
                            <li>基于各渠道调研，数据分析，提出并参与制定执行策略，达成网站运营目标；</li>
                            <li>具备力求成为业界标杆的做事态度。</li>
                        </ol>

                        <ol>
                            <li class="list-head">任职要求：</li>
                            <li>有新媒体运营和 BD 推广经验一年以上，沟通能力强，熟练使用各种搜索工具；</li>
                            <li>希望了解 FinTech 金融科技，有充沛的学习力；</li>
                            <li>对比特币有一定认知，对区块链技术有学习的兴趣；</li>
                            <li>工作讲方法做事讲效率，能适应 KPI 要求下完成工作；</li>
                            <li>英文听读写能力强优先。</li>
                        </ol>

                        <h3>岗位三：Web 前端技术</h3>
                        <p>若干名，仅限优秀实习生</p>
                        <ol>
                            <li class="list-head">岗位职责：</li>
                            <li>参与研发产品，配合后台开发人员实现软件客户端的界面和功能；</li>
                            <li>与产品经理、开发工程师共同实现软件 UI 和交互方面的开发需求，确保产品具有优质的用户体验效果；</li>
                            <li>根据产品需求和项目设计要求，完成网页设计和页面制作；</li>
                            <li>创新界面设计及优化交互体验，提出产品进行结构、流程的优化建议。</li>
                        </ol>
                        <ol>
                            <li class="list-head">任职要求：</li>
                            <li>有 JS, HTML, CSS 语言使用经验; 了解 ES5, ES6 语言规范；</li>
                            <li>了解并使用过 less, sass 等预编译语言；或前端工程化工具 webpack、Fis、gulp 等；或者 mvc，mvvm 框架等经验的优先；</li>
                            <li>有后端语言 Nodejs, Python 等开发经验优先；</li>
                            <li>语法简洁，格式控；</li>
                            <li>实习期 3 个月以上，计算机及相关专业优先。</li>
                            <li>对比特币有一定认知，对区块链技术有学习的兴趣优先。</li>
                        </ol>

                        <h2>回报</h2>
                        <p>
                            有机会与全球顶尖前沿区块链团队的创始人面对面，如有能力采访，甚至深度对谈，学习进阶的回报会超你想象；<br>
                        有机会加入团队，未来更有可能外派至美国硅谷、英国伦敦等办事处。<br></p>

                    <p>有意向者请发送简历至 hr@chaindh.com，非诚勿扰！</p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}