{% extends 'base/base.html' %}
{% load i18n static compress %}

{% block content %}
    <section id="content">
        <div class="container static-content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <h2>與區塊鏈和我們一同成長</h2>

                    <p>當互聯網淩駕于世，如果你不了解 WEB、HTTP，很晚才知道 WEIBO、沒用過 WEIXIN、支付寶，不考慮買一台智能手機… 那麽，
                        現在這個世界可能與你沒什麽關系。</p>
                    <p>
                        有沒有想過十年以後，如果你現在還不了解比特幣，更沒打算去買，不懂得區塊鏈技術… 那麽，十年以後的世界可能也與你沒什麽關系了。
                    </p>
                    <p>
                        過去十年，互聯網讓信息交換變得更快；未來十年，區塊鏈會讓價值交換更快。</P>
                    <P>
                        我們正打算在這個世界從信息往價值交換轉變的路上，做一些事情——讓大衆更容易地，學習和應用區塊鏈。
                    </p>
                    <p>
                        如果你對這個方向頗有興趣，想在瞬息萬變的時代不被淘汰，歡迎加入我們。<br><br>
                    </p>
                    <p>
                        區塊鏈導航 <a href="/">http://block123.com/</a> 這是我們用兩周時間交出的作業。<br><br>
                    </p>
                    <P>
                        如果你突然覺得自己對大家都在談論的事物無知，並正視了這份無知，想去改變的時候，用你的一些時間，一邊用心學，一邊用心做，今天總會不同于昨天。過程中，也許會看見未來的自己。
                        <br><br>
                    </p>

                    <h2>職位誘惑：</h2>
                    <P>
                        賽道好,團隊強,氛圍好,空間大<br><br>
                    </P>

                    <h3>崗位一：主編/副主編/編輯</h3>
                    <p>
                        若幹名，全職或實習生<br>
                        10-20k / 北京 / 經驗 2-5 年 / 本科及以上
                    </p>
                    <ol>
                        <li class="list-head">崗位職責：</li>
                        <li>跟蹤影響數字貨幣、區塊鏈市場的重大新聞，對相關影響進行解讀；</li>
                        <li>跟蹤數字貨幣、區塊鏈市場即時熱點，對突發機會進行解讀；</li>
                        <li>能夠及時挖掘和發現有價值的線索，並解讀相關機會；</li>
                        <li>根據市場情況，獨立策劃選題，挖掘有價值的潛伏機會；<li>
                        <li>梳理和完善區塊鏈項目跟蹤的線索來源，進一步完善區塊鏈項目相關內容。</li>
                    </ol>

                    <ol>
                        <li class="list-head">任職要求：</li>
                        <li>熟悉 FinTech 領域，對數字貨幣、區塊鏈興趣濃厚，有相關投資經曆優先；</li>
                        <li>能夠快速反應組織稿件，邏輯清晰；</li>
                        <li>有財經媒體從業經曆，懂得新媒體內容傳播規律者優先；</li>
                        <li>對資訊和信息敏感，且有濃厚的興趣去挖掘市場資訊熱點；</li>
                        <li>會熟練使用搜索工具等，搜尋相關素材和資料；</li>
                        <li>對各行業信息有廣泛關注者優先。</li>
                    </ol>

                    <h3>崗位二：網站運營 / BD</h3>
                        <p>若幹名，全職或實習生<br>
                            5-10k / 北京 / 經驗 1-3 年 / 本科及以上
                        </p>
                        <ol>
                            <li class="list-head">崗位職責：</li>
                            <li>明確執行商務市場計劃，拓展、洽談同領域的合作夥伴；</li>
                            <li>維護夥伴關系，以共贏爲目標，整合資源，追加商務訴求；</li>
                            <li>基于各渠道調研，數據分析，提出並參與制定執行策略，達成網站運營目標；</li>
                            <li>具備力求成爲業界標杆的做事態度。</li>
                        </ol>

                        <ol>
                            <li class="list-head">任職要求：</li>
                            <li>有新媒體運營和 BD 推廣經驗一年以上，溝通能力強，熟練使用各種搜索工具；</li>
                            <li>希望了解 FinTech 金融科技，有充沛的學習力；</li>
                            <li>對比特幣有一定認知，對區塊鏈技術有學習的興趣；</li>
                            <li>工作講方法做事講效率，能適應 KPI 要求下完成工作；</li>
                            <li>英文聽讀寫能力強優先。</li>
                        </ol>

                        <h3>崗位三：Web 前端技術</h3>
                        <p>若幹名，僅限優秀實習生</p>
                        <ol>
                            <li class="list-head">崗位職責：</li>
                            <li>參與研發産品，配合後台開發人員實現軟件客戶端的界面和功能；</li>
                            <li>與産品經理、開發工程師共同實現軟件 UI 和交互方面的開發需求，確保産品具有優質的用戶體驗效果；</li>
                            <li>根據産品需求和項目設計要求，完成網頁設計和頁面制作；</li>
                            <li>創新界面設計及優化交互體驗，提出産品進行結構、流程的優化建議。</li>
                        </ol>
                        <ol>
                            <li class="list-head">任職要求：</li>
                            <li>有 JS, HTML, CSS 語言使用經驗; 了解 ES5, ES6 語言規範；</li>
                            <li>了解並使用過 less, sass 等預編譯語言；或前端工程化工具 webpack、Fis、gulp 等；或者 mvc，mvvm 框架等經驗的優先；</li>
                            <li>有後端語言 Nodejs, Python 等開發經驗優先；</li>
                            <li>語法簡潔，格式控；</li>
                            <li>實習期 3 個月以上，計算機及相關專業優先。</li>
                            <li>對比特幣有一定認知，對區塊鏈技術有學習的興趣優先。</li>
                        </ol>

                        <h3>崗位四：産品運營崗</h3>
                        <p>若幹名<br>
                        5-10k / 北京 / 經驗 1-3 年 / 本科及以上 / 全職或實習生</p>

                        <p>
                            公司産品主要方向是數字貨幣金融産品，崗位負責對國內和國外潛在客戶的溝通和維護，公司提供優秀的工作平台、廣闊的發展空間、有競爭力的福利待遇和良好的學習環境。
                        </p>
                        <ol>
                            <li class="list-head">崗位職責：</li>
                            <li>組織建立潛在客戶群，維護群活躍度；</li>
                            <li>接受客戶咨詢，記錄客戶咨詢、投訴內容，按照相應流程給予客戶反饋;</li>
                            <li>爲客戶提供完整准確的方案及信息，解決客戶問題，提供高質量服務;</li>
                            <li>與同事或主管共享信息，進行知識積累，提供流程改善依據;</li>
                        </ol>
                        <ol>
                            <li class="list-head">任職要求：</li>
                            <li>英文讀寫流利，聽說優異者優先；</li>
                            <li>對計算機技術，金融理財知識有一定的了解；</li>
                            <li>積極上進，認真負責，願意學習新知識；</li>
                            <li>有無工作經驗皆可，願意接受挑戰，承擔一定的工作壓力；</li>
                            <li>本科以上學曆，可接受實習生。</li>
                        </ol>


                    <h3>崗位五：市場總監</h3>
                        <p>1名<br>
                            25-40k／北京 / 經驗 5-8 年 / 本科及以上
                        </p>

                        <ol>
                            <li class="list-head">崗位職責：</li>
                            <li>全面負責市場推廣、品牌宣傳與業務運營，維護媒體/社區品牌形象；</li>
                            <li>結合産品策略、市場需求、客戶需求，制定策劃産品的市場定位及相應的市場策略，制定有效的推廣計劃來提升品牌影響力；</li>
                            <li>進行市場調研與分析，研究同行、業界發展狀況，定期進行市場預測及情報分析。</li>
                        </ol>
                        <ol>
                            <li class="list-head">任職要求：</li>
                            <li>英語口語流利；統招本科及以上學曆，海外留學經曆、金融或相關專業者優先；</li>
                            <li>具備豐富的多媒體經驗，文筆功底好，理解等綜合能力強，科技、財經行業經驗優先；</li>
                            <li>具有整合營銷能力、豐富的市場推廣和策劃經驗、優秀的文案書寫能力和團隊建設能力；</li>
                            <li>具備社區運營的經驗，比如微信公衆號、網站等，擅長並有意願跟社區成員線上線下溝通互動，理解用戶和社區；</li>
                            <li>對市場推廣、品牌推廣工作有深刻認知，有較強的市場感知能力、敏銳地把握市場動態、市場方向的能力，能迅速抓住熱點事件與社區互動；</li>
                            <li>具有良好的客戶意識、問題分析及解決能力、資源整合能力和業務推進能力；</li>
                            <li>具有出色提案能力和溝通技巧，有大型相關策劃實務操作經驗及成功品牌策劃案例；優秀的品牌和營銷傳播經驗；</li>
                            <li>有激情、有夢想、有創業者思維。</li>
                        </ol>

                        <h2>回報</h2>
                        <p>
                            有機會與全球頂尖前沿區塊鏈團隊的創始人面對面，如有能力采訪，甚至深度對談，學習進階的回報會超你想象；<br>
                        有機會加入團隊，未來更有可能外派至美國矽谷、英國倫敦等辦事處。<br><br></p>

                    <p>有意向者請發送簡曆至 hr@chaindh.com，非誠勿擾！<br><br><br><br></p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}