{% extends 'base/base.html' %}
{% load i18n static compress %}

{% block meta %}
        {% include "web/partial/news_meta.html" %}
{% endblock %}
{% block title %}
    {{ news.title }} | {% trans '区块链导航' %}
{% endblock %}
 {% block seo_title %}
    {{ news.title }} | {% trans '区块链导航' %}
 {% endblock %}
{% block content %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59c89b30b1eb72c4"></script>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="box shareimg-wrapper">
                        <div class="box-body middle-wrapper news-detail-wrapper">
                            <div class="shareimg-content-wrapper">
                                <div class="shareimg-title" style="display:none">
                                    <img src="{% static 'images/shareimg-title.jpeg' %}">
                                    <div class="shareimg-title-text">{% trans '区块链导航' %}<br>
                                        <span>Block123.com</span>
                                    </div>
                                </div>
                                <div class="news-title">
                                        {{ news.title }}
                                </div>
                                <div class="news-content">
                                      {{ news.content}}
                                </div>
                                <div class="news-info">
                                      <span>{{ news.published_time }}</span>
                                       <span class="tag-list-wrapper">
                                            <ul class="tag-list">
                                                <li class="tag-list-head">
                                                    <i class="fa fa-tag"></i>
                                                </li>
                                                 {% for tag in news.tag_list %}
                                                   <li class="tag-item">{{ tag }}</li>
                                                 {% endfor %}
                                            </ul>
                                        </span>

                                </div>
                            </div>
                            <div class="shareimg-qr-code" style="display:none">
                                <img src="{% static 'images/block123-qr-code.png' %}"><br>
                                {% trans '访问' %}&nbsp;Block123&nbsp;{% trans '获得更多快讯' %}
                            </div>
                            <div class="news-share">
                                <div class="addthis_inline_share_toolbox pull-right"></div>

{#                                <i class="fa fa-download" aria-hidden="true"></i>#}
{#                                <a id="shareimg" href="javascript:;">下载图片</a>#}
{#                                <i class="fa fa-spinner shareimg-loading" style="display:none"></i>#}

                            </div>
                        </div>
                    </div>
                </div>
                {% include 'web/partial/side_bar.html' %}
            </div>
        </div>
    </section>

     <a class="gotop-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
    </a>

    <script id="rasterize-style" type="text/template">
        <style>
.news-detail-wrapper {
  width: 720px;
  padding: 60px 35px 40px 35px;
  background-color: #fafafa;
  color: #999;
}
.shareimg-content-wrapper {
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.news-share, .origin-link, .tag-list-wrapper {
  display: none;
}
.news-title {
  font-size: 36px;
  color: #262626;
  font-weight: 400;
  line-height: 2;
  margin: 20px 0;
}
.news-content {
  font-size: 28px;
  color: #262626;
  line-height: 2;
  font-weight: 300;
}
.news-info {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}
.shareimg-logo {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  line-height: 2em;
    font-weight: 200;
}
.shareimg-qr-code {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
  line-height: 2em;
  font-weight: 200;
}
.shareimg-qr-code img {
  width: 120px;
}
.shareimg-title img {
  width: 720px;
  margin: -50px 0 20px -50px;
}
.shareimg-title-text {
  position: absolute;
  left: 40px;
  top: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
.shareimg-title-text span {
  font-size: 30px;
  display: inline-block;
  margin-top: 10px;
}
        </style>

    </script>
    <script id="newsline_template" type="text/template">
        <div class="entry">
            <div class="left-content">
                <h3>
                    <% if(show_time){ %>
                      <div class="show-time">
                       <span class="month"><%=month%>月</span>
                       <span class="date"><%=date%></span>
                      </div>
                    <% } %>
                </h3>
                <p></p>
            </div>
            <div class="body">
                <p class="news-title">
                    <a href="<%=url%>">
                      <%=title%>
                    </a>
                </p>
                <ul>
                    <li class="news-content"><%=content%><% if(origin_link){ %><a href="<%=origin_link%>" rel="nofollow" target="_blank">「{% trans '原文链接' %}」</a>
                        <% }%>
                    </li>
                    <li class="news-info"><span><%=time_diff%></span>
                        <span class="tag-list-wrapper">
                            <ul class="tag-list">
                                <li class="tag-list-head">
                                    <i class="fa fa-tag"></i>
                                </li>
                                <% for( var i = 0; i < tag_list.length; i++ ) { %>
                                <li class="tag-item">
                                    <%=tag_list[i]%>
                                </li>
                                <% } %>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </script>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}
