{% extends 'base/base.html' %}
{% load i18n static compress %}
{#{% load web_extras %}#}

{% block meta %}
    {% include "web/partial/news_list_meta.html" %}
{% endblock %}
{% block title %}{% if tag_name %}{{ tag_name }} - {% endif %}{% trans '新闻快讯' %} - {% trans '区块链导航' %}{% endblock %}

{% block content %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59c89b30b1eb72c4"></script>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="seo-only">
                    {% for news in sidebar_news_list %}
                        <div class="entry">
                            <h1 class="news-title">{{ news.title }}</h1>
                            <p class="news-content">{{ news.content }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-8 col-xs-12 news-line-wrapper">
                    <div class="box">
                        <div class="box-body">
                            {% include 'web/partial/news_tag_filter.html' %}
{#                            <div class="tag_switch">#}
{#                                <i class="fa fa-download"></i>#}
{#                            </div>#}
                            <div class="timeline newsline"></div>

                            <div class="middle-wrapper">
                                <a class="btn white-btn btn-load-news">{% trans '加载更多' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'web/partial/side_bar.html' %}
            </div>
        </div>
    </section>

     <a class="gotop-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
    </a>

    <script id="newsline_template" type="text/template">

        <div class="entry">
            <div class="shareimg-content-wrapper">
             <% if(show_year){ %>
                    <div class="year-wrapper">
                        <span class="year"><%=year%></span>
                    </div>
             <% } %>
            <div class="left-content">
                <h3>
                    <% if(show_time){ %>
                      <div class="show-time">
                       <span class="month"><%=month%>{% trans '月' %}</span>
                       <span class="date"><%=date%></span>
                      </div>
                    <% } %>
                </h3>
                <p></p>
            </div>
            <div class="body">
                <div class="shareimg-title" style="display:none">
                    <img src="{% static 'images/shareimg-title.jpeg' %}">
                    <div class="shareimg-title-text">{% trans '区块链导航' %}<br>
                        <span>Block123.com</span><br>
                        <span class="time"><%=year%>-<%=month%>-<%=date%></span>
                    </div>
                </div>
                <h1 class="news-title">
                      <%=title%>
                </h1>
                <ul>
                    <li class="news-content"><%=content%><% if(origin_link){ %><a href="<%=origin_link%>" rel="nofollow" target="_blank">「{% trans '原文链接' %}」</a>
                        <% }%>

                    </li>
                    <li class="news-info"><span><%=time_diff%></span>
{#                        <span class="addthis_inline_share_toolbox"></span>#}
                        {% if request.user.is_staff %}
                            <span>
                                <a class="shareimg" href="javascript:;">下载图片</a>
                                <i class="fa fa-spinner shareimg-loading" style="display:none"></i>
                            </span>
                        {% endif %}
                            <span class="tag-list-wrapper">
                                <ul class="tag-list">
                                    <li class="tag-list-head">
                                        <i class="fa fa-tag"></i>
                                    </li>
                                    <% for( var i = 0; i < tag_list.length; i++ ) { %>
                                    <li class="tag-item"><a href="/news/tag_<%=tag_list[i].id%>/" target="_blank"><%=tag_list[i].name%></a></li>
                                    <% } %>
                                </ul>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="shareimg-qr-code" style="display:none">
                <img src="{% static 'images/block123-qr-code.png' %}"><br>
                {% trans '访问' %}&nbsp;Block123&nbsp;{% trans '获得更多快讯' %}
            </div>
            </div>
    </div>
    </script>
        <script id="rasterize-style" type="text/template">
        <style>
.shareimg-content-wrapper {
  width: 720px;
  padding: 60px 35px 40px 35px;
  background-color: #fafafa;
  color: #999;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
.body {
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.news-info, .origin-link, .left-content, .year-wrapper {
  display: none;
}
.news-content a {
  display: none;
}
.news-title {
  font-size: 36px;
  color: #262626;
  font-weight: 400;
  line-height: 2;
  margin: 20px 0;
}
.news-content {
  font-size: 28px;
  color: #262626;
  line-height: 2;
  font-weight: 300;
}
.news-info {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}
.shareimg-logo {
  text-align: center;
  margin-top: 40px;
  font-size: 22px;
  line-height: 2em;
    font-weight: 200;
}
.shareimg-qr-code {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
  line-height: 2em;
  font-weight: 200;
}
.shareimg-qr-code img {
  width: 120px;
}
.shareimg-title img {
  width: 720px;
  margin: -50px 0 20px -50px;
}
.shareimg-title-text {
  position: absolute;
  left: 40px;
  top: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
.shareimg-title-text span {
  font-size: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 4px;
}
.shareimg-title-text .time {
  font-size: 20px;
  display: inline-block;
  margin-top: 40px;
  font-weight: 300;
}
ul {
  list-style: none;
  padding: 0;
}
        </style>

    </script>

    <script language="javascript">
        {% autoescape off %}
            var news_obj = {{ news_json_str|safe }};
        {% endautoescape %}
    </script>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}