{% extends 'base/base.html' %}
{% load i18n static %}
{% load compress bootstrap3 %}

{% block search_row %}

{% endblock %}

{% block content %}
    <section id="content">
        <div class="container static-content">

            <div class="row site-submit-form">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <h2>提交网址</h2>
                    <form action="{% url 'web_submit' %}" method="post" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <fieldset>
                            {% bootstrap_form form layout="horizontal" %}
                        </fieldset>
                        {% buttons %}<button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>{% endbuttons %}
                    </form>
                    <div class="return-home"><a href="/">返回首页</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}