@import "../lib/var.less";
@import "../lib/mixin.less";
@import "../lib/normal.less";
@import "../lib/widgets.less";
@import "../lib/bsfix.less";

body{
  .seo-only{
    display: none;
  }
  color: @common-text-color;
  font-size:@font-size-normal;
  a{
   color:@link-color;
   line-height: @base-line-height;
   text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  background-color:@default-background;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  -webkit-font-smoothing:subpixel-antialiased;
}

@header_height: 110px;
@header_bk:#fff;
#header{
   background: @header_bk;
   .main-logo{
         height: @header_height;
     line-height: @header_height;
   }
   .price-list{
       &>li{
          float: left;
          width:33%;
          height:@header_height;
          text-align: center;
          .quote{
             vertical-align: middle;
             height:30px;
             text-align: left;
             padding-top: 35px;
             padding-left:30px;
             .quote-head{
                font-size:@font-size-small;
                font-weight: 700;
             }
             .quote-price{
                font-size:@font-size-big;
                font-weight:400;
                font-family:DIN,Microsoft YaHei,Helvetica Neue,Helvetica,sans-serif;
                margin-top:-4px;
                .price{
                  .pricing-ele;
                }
                i{
                  position: relative;
                  top: -3px;
                  left: -3px;
                  .pricing-ele;
                }
                i::before{
                  font-size:24px;
                }
             }
          }

       }
   }
}

@box-bg-color:#fff;
@box-header-border-color:#f3f3f3;
@box-header-font-color:#ff552e;

#content{

  .box{
    margin-top: @gutter-size;
    background-color:@box-bg-color;
    width: 100%;
    padding:10px 20px 10px 20px;
    .box-header{
      height: 37px;
      border-bottom: 1px solid @box-header-border-color;
      padding-top: 8px;
      margin: 2px 20px 4px 0;
      font-size: 16px;
      color: @box-header-font-color;
      font-weight: 700;
      overflow: hidden;
    }

    .box-body{
       .site-list{

          li{
            a{
              color: @site-link-color;

              &:hover{
                color: @site-link-highlight-color;
                //text-decoration: underline;
              }
            }
            a.highlight{
              color:@site-link-highlight-color;
            }

            display: inline-block;
            .clearfix;
            line-height:30px;
            color: @site-link-color;
            margin-right:20px;
          }
       }
       .coin-list{

          li{
            line-height: 30px;
            font-size: @font-size-normal;
            color: @common-text-color;
            padding-top:10px;
            .coin-name{
                font-weight:600;
                display: inline-block;
                width:90px;
            }
            .coin-price{
                .pricing-ele;
                padding-left: 20px;
                display: inline-block;
                width: 100px;
            }
            .coin-change{
                padding-left:20px;
                .pricing-ele;
                display: inline-block;
            }
          }
          li.list-header{
             color: @support-text-color;
             //border-bottom : 1px solid @support-text-color;
             .coin-name, .coin-price, .coin-change{
               color: @support-text-color;
             }
          }
       }
    }
  }

  .bar-right{
    height: 10px;
    overflow: visible;
  }
}


//for grid layout
#grid[data-columns]::before{
  content: '2 .column.size-1of2';
}
#grid{
  .column {
    float: left;
    border-left: solid 10px @default-background;
  }
  .size-1of2 { width: 50%; }
}



#footer{
  margin-top:10px;
  background-color:#fff;
  height:60px;
  .logo{
      img{
            width: 280px;
      }
  }

  .footer-list{
    li{
      float:left;
      height:40px;
      display:inline-block;
      margin-left:20px;
      line-height: 40px;
      padding-top:15px;
      padding-bottom:10px;
    }
    li.logo{
      padding-top:5px;
    }
    .action{
      i{
        margin-right:10px;
      }
    }
  }

  //.info-list{
  //     margin-top:40px;
  //     margin-bottom:20px;
  //     li{
  //        font-size:@font-size-normal;
  //        color:@support-text-color;
  //        line-height:@font-size-normal*2;
  //     }
  //     .info-header{
  //        color:@common-text-color;
  //        font-size: 16px;
  //        margin-bottom: 20px;
  //        font-weight:600;
  //     }
  //
  //}
}


@import "dimentions/lg.less";
@import "dimentions/md.less";
@import "dimentions/sm.less";
@import "dimentions/xs.less";

.test{
  color:black;

}

//@ sourceMappingURL= '/static/css/web/main.css.map'
