{% extends "base/base.html" %}
{% load static compress %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">

                    <div class="box">
                        <div class="box-header">含「<span class="">{{ query }}</span>」的搜索结果约 {{ object_list|length }} 条</div>
                        <div class="box-body category-tag-wrapper">
                            <ul class="nav-list">
                            {% for obj in nav_list %}
                                    <li class="nav-list-item">
                                            <span class="nav-name">
                                                <a
                                                        class="{% if obj.highlight %} highlight {% endif %}"
                                                        href="{{ obj.web_site }}" rel="nofollow" target="_blank"
                                                        title="{{ obj.site_name }}">
                                                    {{ obj.main_name }}
                                                </a>
                                            </span>

                                        {% if obj.main_name == obj.ename or obj.ename == None %}

                                        {% else %}
                                            <span
                                                    class="nav-ename"
                                            >
                                                    {{ obj.ename }}
                                                    </span>
                                        {% endif %}
                                        {% if obj.location %}
                                            <span class="location">
                                                    {{ obj.location }}
                                                    </span>
                                        {% endif %}

                                        <span class="nav-desc">
                                                {{ obj.descriptioncn }}
                                            </span>
                                        <span class="sr-only">
                                                {{ obj.description }}
                                            </span>
                                    </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
                {% include 'web/partial/side_bar.html' %}
            </div>
        </div>

    </section>


{% endblock %}


{% block basic_script %}

    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}

{% endblock %}