  <div class="box-body middle-wrapper">
            <span class="clockdiv">
                <div>
                    <span class="days"></span>
                    <span class="smalltext">天</span>
                </div>
                <div>
                    <span class="hours"></span>
                    <span class="smalltext">时</span>
                </div>
                <div>
                    <span class="minutes"></span>
                    <span class="smalltext">分</span>
                </div>
                <div>
                    <span class="seconds"></span>
                    <span class="smalltext">秒</span>
                </div>
            </span>
            <div class="count-down-info">
                <div class="info">
                    这是基于当前块高度的时间预估，<br>
                    平均出块时间为十分钟。<br><br>
                    <span >
                        分叉区块高度 <span class="block-count">494784</span><br>
                    目前区块高度 <span class="current_block_count block-count"></span>
                    </span>
                </div>
            </div>
  </div>