{% load static %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-12 ">
                <ul class="footer-list">
                    <li class="logo">
                        <img src="{% static 'images/chaindh-dh-bottom.png' %}">
                    </li>
                    <li class="about-item hidden-xs"><a href="{% url 'web_about' %}">关于我们</a></li>
                    <li class="sitemap-item hidden-xs"><a href="{% url 'web_sitemap' %}">全站地图</a></li>
{#                    <li>备案信息</li>#}
                </ul>
            </div>
            <div class="col-sm-2  col-xs-4 hidden-xs">
                <ul class="footer-list">
                    <li class="action" id="bookmarkme">
                        <a>
                            <i class="fa fa-star"></i>收藏本站
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>