{% load static %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <span class="logo"><img src="{% static 'images/logo-bottom.png' %}"></span>
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <ul class="info-list">
                    <li class="info-header">帮助中心</li>
                    <li>常见问题</li>
                    <li>更多帮助</li>
                    <li>意见反馈</li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="info-list">
                    <li class="info-header">服务支持</li>
                    <li>推广服务</li>
                    <li>渠道招商</li>
                    <li>举报平台</li>
                </ul>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>