{% load static %}
<section id="footer">
    <div class="container">
        {% if flinks %}
            <div class="row">
                <div class="col-sm-10 col-xs-12 flink-container">
                    <ul class="flink-wrapper">
                        <li class="flink-head">
                            友情链接
                        </li>
                        {% for flink in flinks %}
                            <li class="flink-item">
                                <a class="flink" href="{{ flink.link }}" target="_blank" rel="nofollow" title="{{ flink.site_name }}">
                                    {{ flink.site_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-10 col-xs-12 ">
                <ul class="footer-list">
                    <li class="logo">
                        <a href="{% url 'web_index' %}">
                            <img alt="区块链导航" src="{% static 'images/chaindh-logo-simple.png' %}">
                        </a>
                    </li>
                    <li class="about-item hidden-xs"><a rel="nofollow" title="关于我们" href="{% url 'web_about' %}" >关于我们</a></li>
                    <li class="sitemap-item hidden-xs"><a href="{% url 'web_sitemap' %}">全站地图</a></li>
                    <li class="sitemap-item hidden-xs"><a title="职位招聘" href="{% url 'web_jobs' %}">职位招聘</a></li>
{#                    <li>备案信息</li>#}
                </ul>
            </div>
            <div class="col-sm-2  col-xs-4 hidden-xs">
                <ul class="footer-list">
                    <li class="action" id="bookmarkme">
                        <a rel="nofollow">
                            <i class="fa fa-star"></i>收藏本站
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>