{% load static i18n %}
<section id="header">
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header price-row">
                    <span class="price-list" id="header_price_list">
                     </span>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a rel="nofollow" title="{% trans '向我们提交' %}" href="{% url 'web_submit' %}" type="button">{% trans '网站收录' %}</a></li>
                        <li><a href="" class="bookmarkme">{% trans '收藏本站' %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
<script id="header_price_template" type="text/template">
  <span class="quote"   data-symbol="<%=symbol%>">
      <a href="{% url 'tools:coin_list' %}" target="_blank">
      <span class="quote-price">
          <%=title_text%>&nbsp;
          <span class="price"><%=price_cny%>&nbsp;<%=change_percent%></span>
      </span>
      </a>
  </span>
</script>

