{% load static %}
{% load i18n %}

<section id="search-row">
    <div class="container">
        <div class="row middle-wrapper">
            <div class="">

                <div class="middle-wrapper col-xs-12 hidden-sm hidden-md hidden-lg">
                     <a href="{% url 'web_index' %}">
                     <img  src="{% static 'images/9c866ccd1e1addd72043b2009af4ba17.png' %}" class="search-logo">
                     </a>
                </div>
                <form class="" action="{% url 'search:nav' %}" method="get">
                     <div class="form-group main-search-container">

                         <span  class="logo-wrapper">
                            <a href="{% url 'web_index' %}">
                                <img  alt="{% trans '区块链导航' %}" src="{% static 'images/9c866ccd1e1addd72043b2009af4ba17.png' %}" class="search-logo hidden-xs">
                            </a>
                            <label class="sr-only">{% trans 'search' %}</label>
                            <input type="text" class="nav-search" autocomplete="off" value="{{ query|default:'' }}" placeholder="{% trans 'search' %}" name="q">
                             <a href="#" class="input-cancel-btn">
                                 <i class="fa fa-times-circle" aria-hidden="true"></i>
                             </a>
                            <button type="submit" class="search-button" id="search-site-btn">{% trans '搜站点' %}</button>
                            <button class="search-button" id="search-news-btn">{% trans '搜快讯' %}</button>
                         </span>
                     </div>
                </form>

            </div>
        </div>
    </div>
</section>