{% load static %}
<section id="search-row">
    <div class="container">
        <div class="row middle-wrapper">
            <div class="">

                <div class="middle-wrapper col-xs-12 hidden-sm hidden-md hidden-lg">
                     <a href="{% url 'web_index' %}">
                     <img  src="{% static 'images/chain-dh-header.png' %}" class="search-logo">
                     </a>
                </div>
                <form class="" action="{% url 'search:nav' %}" method="get">
                     <div class="form-group main-search-container">

                         <span  class="logo-wrapper">
                            <a href="{% url 'web_index' %}">
                                <img  alt="区块链导航" src="{% static 'images/chain-dh-header.png' %}" class="search-logo hidden-xs">
                            </a>
                            <label class="sr-only">搜索</label>
                            <input type="text" class="nav-search" autocomplete="off"  placeholder="搜索" name="q">
                            <button type="submit" class="search-button">搜索</button>
                         </span>
                     </div>
                </form>
            </div>
        </div>
    </div>
</section>