<div class="col-sm-4 col-xs-12 news-wrapper" id="side_column">
    <div class="box hidden-xs">
        <div class="box-header">
            24h 快讯
        </div>
        <div class="box-body">
            <div class="news-list timeline small-line">
                {% include 'web/partial/side_bar_news.html' %}
            </div>
        </div>
        <div class="box-footer">
            <div class="middle-wrapper">
                <a class="btn white-btn" href="{% url 'web_news' %}">
                    查看更多
                </a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">热门标签</div>
        <div class="box-body">
            {% include 'web/partial/news_tag_filter.html' %}
        </div>
    </div>
    <div class="box">
        <div class="box-header">行情报价</div>
        <div class="box-body">
            <ul class="coin-list" id="coin_list">

            </ul>
        </div>
    </div>
</div>

<script id="news_template" type="text/template">

    <div class="entry">
        <div class="left-content">
            <h3>
                {#                    <% if(show_time){ %>#}
                {#                      <div class="show-time">#}
                {#                       <span class="month"><%=month%>月</span>#}
                {#                       <span class="date"><%=date%></span>#}
                {#                      </div>#}
                {#                    <% } %>#}
            </h3>
            <p></p>
        </div>
        <div class="body">
            <p class="news-title"><%=title%></p>
            <ul>
                <li class="news-content hidden"><%=content%>
                    <% if(origin_link) { %>
                    <a href="<%=origin_link%>" target="_blank">「原文链接」</a>
                    <% }%>

                </li>
                {#                    <li><%=time_diff%></li>#}
            </ul>
        </div>
    </div>

    {#    <li>#}
    {#        <div class="news-title">#}
    {#                                       <span href="">#}
    {#                                       <%=title%>#}
    {#                                        </span>#}
    {#        </div>#}
    {#        <div class="news-content hidden">#}
    {#            <%=content%>#}
    {#        </div>#}
    {#        <div class="pub-time">#}
    {#            <%=time_diff%>#}
    {#        </div>#}
    </li>
</script>

<script id="coin_template" type="text/template">
    <li id="<%=id%>">
                                    <span class="coin-name">
                                        <%=name_cn%>
                                    </span>
                                    <span class="coin-price fall">
                                        <%=price_cny%>
                                    </span>
                                    <span class="coin-change fall">
                                         <%=change_percent%>
                                    </span>
    </li>
</script>

