{% load i18n %}
<div class="col-sm-4 col-xs-12 news-wrapper" id="side_column">
    <div class="box hidden-xs">
        <div class="box-header ">
            比特币硬分叉倒计时
        </div>
        {% include 'web/partial/clock.html' %}
    </div>
    <div class="box hidden-xs">
        <div class="box-header">
            24h 快讯
        </div>
        <div class="box-body">
            <div class="news-list timeline small-line">
                {% include 'web/partial/side_bar_news.html' %}
            </div>
        </div>
        <div class="box-footer">
            <div class="middle-wrapper">
                <a class="btn white-btn" href="{% url 'web_news' %}">
                    查看更多
                </a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">热门标签</div>
        <div class="box-body">
            {% include 'web/partial/side_bar_news_tag_filter.html' %}
        </div>
    </div>

    {#    <div class="box">#}
    {#        <div class="box-header">热门标签-云</div>#}
    {#        <div class="box-body tag-cloud" >#}
    {#            <div class="tag-cloud-wrapper" id="tag_cloud">#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    <div class="box " id="side_bar_bottom">
        <div class="box-header">
            {% trans "行情报价" %}
            <span class="pull-right header-link">
                <a href="{% url 'tools:coin_list' %}" target="_blank">
                    {% trans '更多' %}
                </a>
            </span>
        </div>
        <div class="box-body">
            <ul class="coin-list" id="coin_list">

            </ul>
        </div>
    </div>
    <div id="scroll_target" class="inv-element">
        {#        <div class="box hidden-xs">#}
        {#            <div class="box-header">#}
        {#                24h 快讯#}
        {#            </div>#}
        {#            <div class="box-body">#}
        {#                <div class="news-list timeline small-line">#}
        {#                    {% include 'web/partial/side_bar_news.html' %}#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="box-footer">#}
        {#                <div class="middle-wrapper">#}
        {#                    <a class="btn white-btn" href="{% url 'web_news' %}">#}
        {#                        查看更多#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="box hidden-xs">
            <div class="box-header">热门标签</div>
            <div class="box-body">
                {% include 'web/partial/news_tag_filter.html' %}
            </div>
        </div>
        <div class="donation">
            <p class="do">捐赠地址</p>
            <p>
                <span class="cy-name">BTC</span><br>
                <span class="cy-address">127X8Pzvmf9eUJVVV8ZFXMn6DKeQmWLy3y</span>
            </p>
            <p>
                <span class="cy-name">ETH</span><br>
                <span class="cy-address">0x0EFE3c5924d0b73c9B61D427065461795d3090Ec</span>
            </p>

        </div>


    </div>
</div>

<script id="news_template" type="text/template">

    <div class="entry">
        <div class="left-content">
            <h3>
                {#                    <% if(show_time){ %>#}
                {#                      <div class="show-time">#}
                {#                       <span class="month"><%=month%>月</span>#}
                {#                       <span class="date"><%=date%></span>#}
                {#                      </div>#}
                {#                    <% } %>#}
            </h3>
            <p></p>
        </div>
        <div class="body">
            <p class="news-title"><%=title%></p>
            <ul>
                <li class="news-content hidden"><%=content%>
                    <% if(origin_link) { %>
                    <a href="<%=origin_link%>" target="_blank">「原文链接」</a>
                    <% }%>

                </li>
                {#                    <li><%=time_diff%></li>#}
            </ul>
        </div>
    </div>

    {#    <li>#}
    {#        <div class="news-title">#}
    {#                                       <span href="">#}
    {#                                       <%=title%>#}
    {#                                        </span>#}
    {#        </div>#}
    {#        <div class="news-content hidden">#}
    {#            <%=content%>#}
    {#        </div>#}
    {#        <div class="pub-time">#}
    {#            <%=time_diff%>#}
    {#        </div>#}
    </li>
</script>

<script id="coin_template" type="text/template">
    <li id="<%=id%>">
        <span class="coin-name">
            <a href="/tools/coin_list/" target="">
            <%=name_cn%>
            </a>
        </span>
        <span class="coin-price">
                                        <%=price_cny%>
                                    </span>
        <span class="coin-change">
                                         <%=change_percent%>
                                    </span>
    </li>
</script>

<script type="application/javascript">
    var tag_list_json = {{ sidebar_news_tag_list_json|safe }};
</script>


