{% extends 'base/base.html' %}

{% load i18n static compress %}

{% block meta %}
    {% include "dapp/partial/dapp_list_meta.html" %}
{% endblock %}
{% block title %}
    dapp list title | 区块链导航 | chaindh.com
{% endblock %}


{% block content %}
    <section id="content">
        <div class="container">
            <div class="row" id="grid" data-columns>
                {% for project in projects %}
                <div class="box">
                    <div class="box-header"> {{ project.name }}</div>
                    <div class="box-body"> {{ project.slug }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/dapp_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}