@media (max-width: 991px) {
  .guoku-content.user-page .user-info .user-nick-block {
    margin: 0 auto ;
  }
  .guoku-content.user-page .user-info .user-bio {
    margin: 0 auto ;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .social-list .social-cell .entity-list .entity-item:last-child {
    display: none;
  }
  .social-list .social-cell .entity-list .entity-item {
    height: 80px!important;
    width: 80px!important;
  }
}
@media (max-width: 992px) {
  #discover_container .slick-prev:before,
  .new-index-page .slick-prev:before,
  .new-seller-body .slick-prev:before,
  #discover_container .slick-next:before,
  .new-index-page .slick-next:before,
  .new-seller-body .slick-next:before {
    display: none;
  }
  .new-index-page .latest-entity-wrapper .slick-list {
    padding-right: 60px;
  }
  .new-index-page .recommend-user-wrapper .slick-list {
    padding-right: 30px;
  }
  .new-index-page .offline-shop-wrapper .slick-list {
    padding-right: 100px;
  }
}
