{% extends 'base/base.html' %}
{% load i18n static compress %}
{% block search_row %}
{% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12" id="main_column">
                    crypto index
                </div>
            </div>
        </div>
    </section>
    <a class="gotop-wrapper">
        <div class="action-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
        </div>
    </a>
{% endblock %}

{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}