{% extends 'base/base.html' %}
{% load i18n static compress %}

{% block title %}
    crypto Index | {% trans '区块链导航' %}
{% endblock %}

 {% block seo_title %}
    crypto Index | {% trans '区块链导航' %}
 {% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    crypto index
                </div>
            </div>
        </div>
    </section>

     <a class="gotop-wrapper">
        <span class="btn-top" id="top_link">
            <i class="fa fa-angle-up"></i>
        </span>
    </a>
    <script language="JavaScript">
      {% autoescape off %}
            var crypto_index = {{ crypto_index }};
        {% endautoescape %}
    </script>
{% endblock %}
{##}
{% block basic_script %}
    {% compress js %}
        <script src="{% static 'js/web/app/require.js' %}"></script>
        <script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>
    {% endcompress %}
{% endblock %}
