{% extends 'base/base.html' %}
{% load i18n static compress %}



{% block content %}
<script src="//d3js.org/d3.v3.min.js"></script>

<div class="svgoutercontainer">
    <div class="svgcontainer">
                <svg version="1.1" viewBox="0 0 1300 700"   preserveAspectRatio="xMinYMin meet" class="svgcontent">
                </svg>
    </div>
</div>


{% endblock %}

{% block basic_script %}
      <style>
      body {
          background-color: #2C2F39;
      }
      #search-news-btn {
          border-color: #fff!important;
      }
        svg {
            background-color: #2C2F39;
        }
        text {
            display: block;
            white-space: nowrap;
            text-anchor: middle;
            fill: #fff;
            font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
            /*pointer-events: none;*/
        }
        tspan {
            white-space: inherit;
        }
        .tokenname {
            fill: white;
            font-weight: 300;
        }
        .tokenprice {
            fill:white;
            font-weight: 500;
        }
        .domain {
            fill: black;
        }
        .axis {
            fill:black;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .axis .halo {
            stroke: black;
            stroke-width: 1px;
            stroke-linecap: round;
        }

        .slider .handle path {
            stroke: black;
            stroke-width: 3px;
            stroke-linecap: round;
            pointer-events: none;
        }

        .slider .handle text {
            text-align: center;
            font-size: 14px;
        }
        path {
            fill: black;
        }
        .legend text {
            font-size: 20px;
        }
        .tick text {
            font-size: 14px;
            font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
        }

        .background {
            /*display: none;*/
        }

        .svgoutercontainer {
{#            width: 185vh;#}
{#            max-width: 100vw;#}
{#            top: 0;#}
{#            bottom: 0;#}
{#            left: 0;#}
{#            right: 0;#}
{#            line-height: 80vh;#}
        }
        .svgcontainer {
{#            display: inline-block;#}
{#            position: relative;#}
{#            width: 100%;#}
{#            padding-bottom: 53.8%;#}
{#            vertical-align: middle;#}
{#            overflow: hidden;#}
        }

        .svgcontainerX {
            align-items: center;
            border: 1px solid #ccc;
            display: flex;
            height: 500px;
            justify-content: center;
            max-width: 100%;
            overflow: auto;
            padding: 50px;
            resize:both;
        }
        .svgcontent {
            display: inline-block;
{#            position: absolute;#}
            width: 100vw;
{#            top: 0;#}
{#            left: 0;#}
        }
        .svgcontentX {
            height: 100%;
        }
        .rtotal {
            font-size: 32px;
        }
        .titletext {
            font-size: 16px;
            font-weight: bold;
        }
        .eleme path {
            fill: transparent;
        }
        circle {
            /*pointer-events: none;*/
            cursor: pointer;
        }
        .mybutton {
            border-radius: 4px;
            fill: grey;
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.5s;
        }
        .mybutton:hover {
            transition: all 0.5s;
            opacity: 1;
        }
        text {
            pointer-events: none;
        }
        #elemlink {
            pointer-events: all;
        }
        #elemlink:hover {
            opacity: 0.9;
        }
        .tt {
            font-family: "Segoe UI", "Arial";
        }

        .resp-sharing-button__link {
            text-decoration: none;
            color: blue;
            margin: 0.5em
        }

        .resp-sharing-button {
            border-radius: 5px;
            transition: 25ms ease-out;
            padding: 0.5em 0.75em;
            font-family: Helvetica Neue,Helvetica,Arial,sans-serif
        }

        .resp-sharing-button__icon svg {
            width: 1em;
            height: 1em;
            margin-right: 0.4em;
            vertical-align: top
        }

        .resp-sharing-button--small svg {
            margin: 0;
            vertical-align: middle
        }

        /* Non solid icons get a stroke */
        .resp-sharing-button__icon {
            stroke: #fff;
            fill: none
        }

        /* Solid icons get a fill */
        .resp-sharing-button__icon--solid,
        .resp-sharing-button__icon--solidcircle {
            fill: #fff;
            stroke: none
        }

        .resp-sharing-button--twitter {
            background-color: #55acee
        }

        .resp-sharing-button--twitter:hover {
            background-color: #2795e9
        }


        .resp-sharing-button--facebook {
            background-color: #3b5998
        }

        .resp-sharing-button--facebook:hover {
            background-color: #2d4373
        }


        .resp-sharing-button--facebook {
            background-color: #3b5998;
            border-color: #3b5998;
        }

        .resp-sharing-button--facebook:hover,
        .resp-sharing-button--facebook:active {
            background-color: #2d4373;
            border-color: #2d4373;
        }

        .resp-sharing-button--twitter {
            background-color: #55acee;
            border-color: #55acee;
        }

        .resp-sharing-button--twitter:hover,
        .resp-sharing-button--twitter:active {
            background-color: #2795e9;
            border-color: #2795e9;
        }

        .sharecircle {
            fill: transparent;
            transition: all 0.5s;
            transform-origin: 50% 50%;
            stroke: black;
            stroke-width: 2px;
        }
        .pathfb {
            fill: black;
        }
        .pathtwitter {
            fill: black;
        }

        .sharefb:hover {
            transition: all 0.5s;
            fill: rgb(59, 89, 152);
            stroke: rgb(59, 89, 152);
        }
        .sharetwitter:hover {
            transition: all 0.5s;
            fill: #55acee;
            stroke: #55acee;
        }

        .infocircle {
            transition: all 0.5s;
            opacity: 0.8;
        }
        .infocircle:hover, .infocircle:active {
            opacity: 1;
            transition: all 0.5s;
        }
        .sharepath {
            pointer-events: none;
            fill: black;
        }
        #moreinfo {
            font-size: 24px;
            cursor:pointer;
            pointer-events:all;
            font-weight: 400;
        }
        .elemhome {
            cursor: pointer;
        }
        .bub:hover {
            stroke-width:1px;
            stroke:black;
        }

    </style>


<script language="JavaScript" src="{% static 'js/web/jsbuild/draw.js' %}">
</script>
<script src="{% static 'js/web/app/require.js' %}"></script>
<script src="{% static 'js/web/jsbuild/index_page_app_build.js' %}"></script>

{% endblock %}



